<h1>Listing rspec_models</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rspec_models.each do |rspec_model| %>
      <tr>
        <td><%= rspec_model.name %></td>
        <td><%= link_to 'Show', rspec_model %></td>
        <td><%= link_to 'Edit', edit_rspec_model_path(rspec_model) %></td>
        <td><%= link_to 'Destroy', rspec_model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rspec model', new_rspec_model_path %>
